<div class="container">
  <div class="form-group">
    <form action="/posts/<%= @post.id %>" method="post">
      <div class="form-group">
      <input type="hidden" name="_method" value="put">
    </div>
     <div class="form-group">
        <label class="col-sm-2 control-label" for="">Categories</label>
        <input class="form-control name="categories" type="text" value="<%= @post.categories   %>">
      </div>

       <div class="form-group">
        <label class="col-sm-2 control-label" for="">Title</label>
        <input class="form-control name="heading" type="text" value="<%= @post.heading %>">
      </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="">Want</label>
        <input class="form-control name="want" type="text" value="<%= @post.want %>">
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="">Give</label>
        <input class="form-control name="give" type="text" value=<%= @post.give %>>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="">Info</label>
        <textarea class="form-control name="body" rows="3" cols="40" ><%= @post.body %></textarea>
      </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Image url</label>
        <input class="form-control" name="image" type="text" value=<%= @post.image %>>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="">avaliablity</label>
        <input  class="form-control" name="avaliablity" type="date" value="<%= @post.avaliablity %>">
    </div>
      <button class="btn btn-success navbar-btn">update dish</button>
    </div>
    </form>
  </div>
</div>
